/* colors: #297fba;
#F36B32 */

.navigation {
  background-color: aquamarine;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  padding: 20px 30px;
  justify-content: space-between;
}

.nav-a {
  margin: 0px;
  font-size: 24px;
}

.nav-a:hover {
  color: #297fba;
  cursor: pointer;
}
